
body{
  background-image: url('./Assets/billy-huynh-v9bnfMCyKbg-unsplash.jpg');
  
}

li{
  transition: transform 1s;
}
li:hover{
  color: white;
  
  transform: scale(1.1);
}

.active {
  color: white;
  border: 4px solid skyblue;
  border-radius: 20%;
  padding: 10px;
  background-color: rgb(206, 201, 180);
}
